#board, #board1, #board2, #board3, #board4, #board5 {
	border: 1px solid #E708FF;
    
}

#body {
	color : white
}

.cell, .cell1, .cell2, .cell3, .cell4, .cell5 {
    box-sizing: border-box;
	width: 65px;
	height: 65px;
	border: 3px solid #E708FF;
	font-size: 25px;
	text-align: center;
	line-height: 60px;

}

.cell:hover {
	background-color: orange;
}

#twoPlayerGame {
	display: none;
}




